{{- if .Values.redis.enabled }}
{{- if not .Values.redisCluster.password }}
# If no explicit redisCluster.password is set, we expect the user to create the secret themselves
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.redisCluster.passwordSecretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
    app.kubernetes.io/name: {{ include "redis-operator.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  {{ .Values.redisCluster.passwordSecretKey }}: "{{ .Values.redisCluster.password }}"
{{- end }}
{{- end }}

