{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.redisCluster.serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
    app.kubernetes.io/name: {{ include "redis-operator.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  clusterIP: None
  selector:
    app: redis
  ports:
    - name: client
      port: 6379
      targetPort: 6379
    - name: cluster-bus
      port: 16379
      targetPort: 16379
{{- end }}

