{{- if or .Values.redis.enabled .Values.redisCluster.enabled }}
{{- /* If we deploy Redis infra, everything must live in the release namespace */ -}}
{{- $ns := ternary .Release.Namespace (default .Release.Namespace .Values.redisCluster.namespace) .Values.redis.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.redisCluster.passwordSecretName }}
  namespace: {{ $ns }}
  labels:
    app: redis
    app.kubernetes.io/name: {{ include "redis-operator.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  {{- $pwd := .Values.redisCluster.password | default "" | trim -}}
  {{- if eq $pwd "" }}
  {{- /* Generate a unique default password based on release name/namespace to avoid well-known defaults */ -}}
  {{- $defaultPwd := printf "%s-redis-%s" .Release.Name .Release.Namespace | sha256sum | trunc 32 | trimSuffix " " -}}
  {{ .Values.redisCluster.passwordSecretKey }}: "{{ $defaultPwd }}"
  {{- else }}
  {{ .Values.redisCluster.passwordSecretKey }}: "{{ $pwd }}"
  {{- end }}
{{- end }}

