apiVersion: redis.redis-operator.io/v1alpha1
kind: RedisCluster
metadata:
  name: redis-cluster
  namespace: default
spec:
  replicas: 3
  minReady: 3
  autoRebalance: true
  serviceName: redis-headless
  statefulSetName: redis
  passwordSecretRef:
    name: redis-auth
    key: REDIS_PASSWORD
