apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: redisclusters.redis.redis-operator.io
spec:
  group: redis.redis-operator.io
  names:
    kind: RedisCluster
    listKind: RedisClusterList
    plural: redisclusters
    singular: rediscluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              replicas:
                type: integer
                minimum: 3
              passwordSecretRef:
                type: object
                properties:
                  name:
                    type: string
                  key:
                    type: string
                required:
                - name
              statefulSetName:
                type: string
              minReady:
                type: integer
                minimum: 3
                default: 3
              autoRebalance:
                type: boolean
              serviceName:
                type: string
              namespace:
                type: string
            required:
            - replicas
            - passwordSecretRef
          status:
            type: object
            properties:
              phase:
                type: string
              readyReplicas:
                type: integer
              clusterState:
                type: string
              clusterNodes:
                type: integer
              lastError:
                type: string
              conditions:
                type: array
                items:
                  type: object
    subresources:
      status: {}
